:root {
  --shadow-color: rgba(34, 60, 80, 0.2);
  --green: #19a974;
  --light-green: #28e09d;
  --black: #000;
  --white: #fcfcfc;
  --border: #bbbbbb;
}
.container {
  display: flex;
  height: 100%;
}
.list__subcontainer {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 80px;
}
.list__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  padding: 20px;
  height: 100%;
}
.button {
  background-color: var(--green);
  border: none;
  padding: 20px;
  font-size: 18px;
  color: var(--white);
  cursor: pointer;
  margin-bottom: 40px;
  border-radius: 10px;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: -20px;
  z-index: 11;
}
.item__undisplay {
  display: none;
}
.item__display {
  display: none;
}
