:root {
  --shadow-color: rgba(34, 60, 80, 0.2);
  --green: #19a974;
  --black: #000;
  --white: #fdfdfd;
}

.nav {
  width: 25%;
  -webkit-box-shadow: 6px 0px 9px 0px var(--shadow-color);
  -moz-box-shadow: 6px 0px 9px 0px var(--shadow-color);
  box-shadow: 6px 0px 9px 0px var(--shadow-color);
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  padding: 20px 20px 0 20px;
  row-gap: 40px;
}
.logo__container {
  display: flex;
}
.logo {
  display: flex;
}
.logo svg {
  width: 40px;
  fill: var(--green);
}
.logo h1 {
  font-size: 32px;
}
.nav__list {
  display: flex;
  flex-direction: column;
  list-style: none;
  row-gap: 20px;
}
.nav__list li a {
  display: flex;
  text-decoration: none;

  align-items: center;
  column-gap: 10px;

  padding: 20px;
  border-radius: 20px;
}
.nav__list li a svg {
  width: 30px;
}
.activeLink {
  background-color: var(--green);
  color: var(--white);
}
.activeLink svg {
  stroke: var(--white);
}
.unActiveLink {
  background-color: var(--white);
  color: var(--black);
}
.unActiveLink svg {
  stroke: var(--green);
}
.menu__mobile {
  border: none;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}
@media (max-width: 1700px) {
  .nav {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
}
@media (max-width: 960px) {
  .nav {
    width: 100%;
  }
  .nav__list {
    flex-direction: row;
  }
}
@media (max-width: 620px) {
  .nav {
    width: 100%;
  }
  .nav__list {
    flex-direction: column;
  }
  .logo {
    justify-content: space-between;
  }
  .logo__container {
    width: 100%;
  }
  .menu__mobile {
    display: block;
  }
}
